*{
	outline: none;
}
body{

}
.btn:focus,.btn:active {
   outline: none !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
a{
	outline: none;
}
a:hover{
	outline: none;
}
.add-book-button{
	margin-right:5px;
}

.remove-book-button{
	margin-right:4px;
}
#wrapper{
	width:775px;
	margin:25px auto 0 auto;
	text-align: justify;
	position: relative;
}
.logo{
	width: 100%;
	text-align: center;
	margin:0 auto 25px auto;
}
.left-pane {
	/*border-right:1px solid darkgray;*/
	background: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-pane #left-pane-wrapper {
	padding-left:15px;
}

.search-box{
	margin:0 auto;
	width:780px;
}
.popular-books{

}
.popular-books li a{
	max-width: 171px;
	height: 300px;
	float:left;
	padding:25px;
	margin-right:22px;
	margin-bottom:20px;
	border:1px solid lightgray;
	color:#000000;
	text-decoration: none;
}
.popular-books li a:hover{
	background:#E0E0E0;
}
/*.popular-books li a:nth-child(4n) { 
	width: 100px !important;
	margin-right: 0 !important; 
}*/
.popular-books li a p{
	margin-top:10px;
	text-align:center;
	font-style:italic;
}
.left-close{
	position:fixed;
	margin-top:-14px;
	margin-left:8px;
	text-decoration: none;
	color:none;
}
.search-spinner{
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
#output{
	margin:30px 0 30px 0;
}
.media-object{
	width: 100px;
	height: 150px;
}
#login-area{
	width:40%;
	margin:10px 20px 0 0;
}
#options {
	margin: 20px 0 0 0;
}
#pagination{
	margin: 50px 0 0 -80px;
}

#footer{
	border-top:1px solid lightgray;
	position:relative;
	text-align: center;
	bottom:0;
	/*width:50%;*/
	height:40px;   /* Height of the footer */
}
#footer a{
	text-decoration: none;
	color:lightgray;
}
#footer a:hover{
	cursor: pointer;
	text-decoration: none;
	color:lightgray;
}