body{

}
#wrapper{
	width:1000px;
	margin:25px auto 0 auto;
	text-align: justify;
}
.logo{
	width: 100%;
	text-align: center;
	margin:0 auto 25px auto;
}
#output{
	margin:30px 0 30px 0;
}
.media-object{
	width: 100px;
	height: 150px;
}
#username-area{
	width:40%;
	margin:10px 0 0 0;
}